.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {

}

.App-header {
  background-color: #282c34;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.search {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}

.App-link {
  color: #61dafb;
}

.movies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.movie {
  padding: 5px 25px 10px 25px;
  max-width: 25%;
}

